<div class="container">
  <div class='row'>
      <div class='col-md-3'>
        <%= render "users/userinfo", user: current_user %>
        <%= render "books/newbook", book: @book %>
      </div>

      <div class='col-md-8 offset-md-1'>
        <%= render "users/books_table", book: current_user.books%>
      </div>
  </div>


</div>